@using Bootstrap.Controllers

@{
    ViewBag.Title = "Daily Miles";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="userDailyMiles"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/UserDailyMiles.js"></script>