@using Bootstrap.Controllers
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Daily Steps";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="userDailySteps"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/UserDailySteps.js"></script>